# Installer files
*.bat
*.exe

# But don't ignore the programs exes
!moodLogger.exe
!moodMonitor.exe

# compilation files & dirs
/dist
icon.ico
dump.log
*.ginf
*.spec
*.pkg

# Other
moods.log # so I can still use this for personal use w/o having to delete my own logs